/*
  ****************************************
  GLOBAL
  ****************************************
 */
html {
	font-size:13px;
	font-family:arial, helvetica, sans-serif;
	background-color:silver;
}
#bd {
	padding:5px;
	background-color:white;
}
#doc4 {
	border:1px solid gray;
}
h1 {
	margin:0
}
#form h1,#form h2, #form h3, #form h4,#form h5,#form h6 {
	display:inline;
}
#form ul li {
	list-style-type:none;
}
.ui-multiselect-menu ul li {
	list-style-type:none;
}
.ui-widget {
	font-size:12px;
}
.ui-selectmenu {
	float:left;
}
a:link {
	color:#8BADCF;
	text-decoration:none;
}
a:visited {
	color:#8BADCF;
	text-decoration:none;
}
a:hover {
	color: #627eb7;
}
#linked_data a {
	margin:5px;
}
/*
  ***************************************
  HEADER
  ***************************************
 */
#banner {
	background-color: #ebebeb;
}
#hd .align-left {
	text-align:left;
}
#hd .align-right {
	text-align:right;
}
#hd .align-center {
	text-align:center;
}
.banner_text {
	padding:20px;
	font-size:24px;
	font-weight:bold;
	letter-spacing:4px;
}
/*
  ***************************************
  FOOTER
  ***************************************
 */
#ft {
	padding:10px 0;
	text-align:center;
	background-color:#ebebeb;
	width:100%;
}
/*
  ****************************************
  ADMIN PAGE
  ****************************************
 */
.page_toc {
	font-size:12px;
}
.browse_table {
	width:100%;
}
.odd-row {
	background-color:white;
	margin:10px 0;
	padding:10px 0;
	vertical-align:top;
}
.even-row {
	background-color:#EFEFEF;
	margin:10px 0;
	padding:10px 0px;
	vertical-align:top;
}
.center {
	text-align:center;
}
.expand {
	margin-left:25px;
	font-size:12px;
	color:#8BADCF;
	cursor:pointer;
	text-decoration:underline;
}
.reorder {
	margin-left:25px;
	font-size:12px;
	color:#8BADCF;
	text-decoration:underline;
}
.content {
	width:75%;
	float:left;
}
.content ul {
	list-style-type:none;
}
/*
  ****************************************
  TEST PAGE
  ****************************************
 */
.error-table {
	width:100%;
}
.error-table td {
	padding:5px;
	border:0;
}
.error-table th {
	border:0;
}
.indicator {
	width:5%;
	text-align:center;
}
.test-success {
	background-color:#47e547;
}
.test-fail {
	background-color:red;
}
/*
  ****************************************
  FORM LAYOUT
  ****************************************
 */
.submission {
	text-align:center;
	margin:10px 0;
}
.xforms-submit {
	margin-left:10px;
	margin-right:10px;
}
.navigation {
	width:190px;
	float:left;
}
#expand_components, #refresh {
	cursor:pointer;
	color:#8BADCF
}
#expand_components:hover, #refresh:hover {
	cursor:pointer;
	color:#627eb7;
}
#nav_list ul {
	margin-left:15px;
	padding:0;
}
#nav_list ul li {
	list-style-type:none;
}
.list-hidden {
	display:none;
}
.pair_div {
	width:80%;
	border:1px solid silver;
	margin-bottom:2px;
	display:table;
	padding:2px;
}
/*
  .xforms-group>div{
  display:table;
  }
 */
.section>div {
	display:table;
	width:100%;
}
.section {
	margin-bottom:25px;
	width:100%;
}
.subsection {
	padding:10px 0 10px 25px;
	width:95%;
}
/*
  ****************************************
  ORBEON XFORM SPECIFIC STYLE
  ****************************************
 */
.xforms-label {
	float:left;
	width:10em;
}
.xforms-textarea-appearance-xxforms-autosize {
	width: 30em;
	margin-bottom: 2px;
}
.xforms-input input, .fr-autocomplete-search input {
	width: 30em;
	margin-bottom: 2px;
}
textarea {
	width: 30em;
	margin-bottom: 2px;
	height:15em;
}
.xxforms-dialog-body input, .xxforms-dialog-body select {
	width: 30em;
	margin-bottom: 2px;
}
.xxforms-dialog-body {
	text-align:left;
}
.xbl-fr-autocomplete .yui-ac {
	position:relative;
	float:left;
}
.xforms-select1 {
	margin-bottom: 2px;
	width:30em;
}
.xforms-select1 input {
	margin-bottom: 2px
}
.xforms-submit img {
	vertical-align: middle
}
.xforms-trigger-appearance-minimal img {
	vertical-align: middle
}
.xforms-control {
	margin-right: 10px;
}
.xforms-output {
	margin:0;
}
.xforms-trigger {
	text-decoration:none;
}
.xforms-repeat-selected-item-1, .xforms-repeat-selected-item-2, .xforms-repeat-selected-item-3, .xforms-repeat-selected-item-4 {
	background:inherit;
}
.widget-tab-panel {
	padding-top: 1em;
}
.widget-tabs-panel {
	border:0;
	padding:20px;
}
.fr-autocomplete-container .yui-ac-content {
	overflow-x: hidden;
	overflow-y: auto;
	*height:expression(this.scrollHeight>100?"100px":"auto");
	width:30em;
}
.yui-skin-sam .yui-ac-container {
	position:relative;
	top:0;
	width:30em;
	margin-right:1em;
}
.xbl-fr-autocomplete {
	width:35em;
}
.xbl-fr-autocomplete .yui-ac {
	position:relative;
	float:left;
}
.xbl-fr-autocomplete .xforms-input-input {
	width:30em;
	margin-bottom:2px;
}
.yui-editor-editable-container {
	height:100px;
}
.xforms-repeat-selected-item-2 {
	background:none;
}
.yui-dialog {
	width:600px;
}
.xxforms-dialog-body>a, .xxforms-dialog-body>span {
	width:100px;
}
.xbl-xeac-relation, .xbl-xeac-reorder {
	display:inline;
	width:1em;
}
.attr-output {
	color:silver;
}
.reorder-block {
	padding:5px;
	border:1px solid silver;
	margin:10px 0;
}
.success {
	width:50%;
	padding:10px;
	border:1px solid #3c803c;
	margin:0 auto;
	background-color:#47e547;
	color:#3c803c;
}
.warning {
	padding:25px;
	margin:10px;
	background-color:#ef8700;
	border:2px solid #b76e0e;
}
.ui-state-error, .ui-state-highlight {
	padding: 0pt 0.7em;
	margin:20px auto;
	width:400px;
	font-size:12px;
}
/*
  ****************************************
  EAC DISPLAY STYLING
  ****************************************
 */
.submenu {
	width:100%;
	display:table;
}
.icon {
	float:right;
	border-left:1px solid silver;
	margin-left:10px;
	padding-left:10px;
}
#names, #wiki-names {
	margin-bottom:25px;
}
/*
  ****************************************
  XEAC WIDGETS
  ****************************************
 */
.xeac-widget {
	margin:10px 0;
	text-align:center;
}
/*
  ****************************************
  CONTROLLED VOCABULARY MANAGEMENT
  ****************************************
 */
.term_results {
	background-color:#EFEFEF;
	border:1px solid silver;
	padding:5px;
	margin:20px;
}
/*
  ****************************************
  SEARCH/BROWSE RESULTS PAGE
  ****************************************
 */
.result-table {
	width:100%;
	border:0;
}
.result-table tr td {
	border:0;
}
.result-div {
	border:1px solid silver;
	padding:5px;
	margin:5px;
	width:200px;
	float:left;
	height:200px
}
.flickr-link {
	cursor:pointer;
}
#search_options {
	display:block;
	width:100%;
}
.result_info dt {
	float:left;
	width:150px;
}
.result_info dd {
	margin-left:150px;
}
.flickr-link {
	cursor:pointer;
}
.search_forms {
	display:table;
	width:100%;
	padding:5px;
}
.option_container {
	width:225px;
	margin-left:20px;
	margin-right:20px;
}
.option_container>.ui-selectmenu {
	margin-left:20px;
}
.category_list {
	width:175px;
	margin-left:0px;
	margin-right:0px;
}
.search_text {
	width:175px;
	padding:0.3em 1em;
	border:1px solid silver;
	font-size:14px;
}
.year_int {
	width:30px;
	margin-left:0px;
	margin-right:5px;
}
.year_era {
	width:55px;
	margin-right:5px;
	margin-left:0px;
}
.year_range {
	margin-left:15px;
	margin-right:5px;
	width:101px;
}
#removeBtn_1 {
	display:none;
}
#searchItemTemplate {
	display:none;
}
.searchItemTemplate {
	padding:5px 0;
	margin:10px 0;
}
button.ui-multiselect {
	margin-bottom:10px;
}
.submit_div {
	text-align:center;
}
.stacked_term {
	padding:2px;
	margin-bottom:5px;
}
.remove_filter {
	float:right;
}
/* Quick Search */
.quick_search {
	margin:5px 0;
	padding:5px 0;
	border-bottom:1px solid silver;
	border-top:1px solid silver;
}
#qs_text {
	width:100px;
	border:1px solid silver;
	padding:2px;
}
#qs_button {
	float:right;
}
/* Date (century/decade) facet styling */
.date-div {
	margin-top:-10px;
}
.century-multiselect-checkboxes {
	display:table;
	width:100%;
}
.decades-list {
	margin:0 0 0 25px;
}
.close {
	float:right;
	text-decoration:underline;
	padding-right:10px;
}
.close:hover {
	font-weight:bold;
	cursor:pointer;
}
#backgroundPopup {
	display:none;
	position:fixed;
	_position:absolute;
/* hack for internet explorer 6 */
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:2001;
/*
  background-color:black;
  opacity:0.6;
 */
}
/*
  ****************************************
  PAGINATION
  ****************************************
 */
.paging_div {
	width:100%;
	display:table;
	padding-top:10px;
	padding-bottom:10px;
}
.pagingBtn, .pagingSep {
	padding:2px;
	text-decoration:none;
}
.pagingBtn {
	font-weight:bold;
}
.pagingBtn:hover {
	background-color:#DDDDDD;
	text-decoration:underline;
}
/*
  ***************************************
  jQuery UI Menubar @VERSION
  ***************************************
  * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
  * Dual licensed under the MIT or GPL Version 2 licenses.
  * http://jquery.org/license
 */
.ui-menubar {
	list-style: none;
	margin: 0;
	padding-left: 0;
	border-left:0px;
	border-right:0px;
}
.ui-menubar-item {
	float: left;
	list-style-type:none;
}
.ui-menubar .ui-button {
	float: left;
	font-weight: normal;
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
	margin: 0;
	outline: none;
}
.ui-menubar .ui-menubar-link {
	border-right: 1px dashed transparent;
	border-left: 1px dashed transparent;
}
.ui-menubar .ui-menu {
	width: 200px;
	position: absolute;
	z-index: 9999;
}
/*
  ***************************************
  Timemap CSS
  ***************************************
 */
div#timelinecontainer {
	height: 300px;
}
div#mapcontainer {
	height: 300px;
}
div.olFramedCloudPopupContent {
	width: 300px;
}
div#help {
	font-size: 12px;
	width: 45em;
	padding: 1em;
}
/*
  div#timemap {
  padding: 1em;
  }
 */
div#timelinecontainer {
	width: 100%;
	height: 200px;
}
div#timeline {
	width: 100%;
	height: 100%;
	font-size: 12px;
	background: #CCCCCC;
}
div#mapcontainer {
	width: 100%;
	height: 400px;
}
div#map {
	width: 100%;
	height: 100%;
	background: #EEEEEE;
}
div.infotitle {
	font-size: 14px;
	font-weight: bold;
}
div.infodescription {
	font-size: 14px;
	font-style: italic;
}
div.custominfostyle {
	font-family: Georgia, Garamond, serif;
	font-size: 1.5em;
	font-style: italic;
	width: 20em;
}